
:root {
    --dark:  #18324D;
    --dark-x:#244D75; 
    --light: #ffffff;
    --dark-y: #499AEB;
  }
  
  body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
  }
  
  .text-light { 
    color: var(--light) !important; 
  }
  
  .bg-dark { 
    background-color: var(--dark) !important; 
  }
  
  .bg-dark-x { 
    background-color: var(--dark-x); 
  }
  
  .btn {
    min-height: 3.125rem;
    font-weight: 600;
  
  }
  
  .form-control {
    min-height: 3.125rem;
    line-height: initial;
    color: var(--light);
  }
  
  
  .form-control:focus {
    background-color: var(--dark-x);
    outline: none;
    color: var(--light);
  
    border-color: var(--dark-y);
    box-shadow: 0 0 10px var(--dark-y);
    
  }
  
  .btn:focus {
    border-color: var(--dark-y);
    box-shadow: 0 0 10px var(--dark-y);
  }
  
  .img-1 {
    background-image: url('/assets/img/pokemon_banner.jpg');
    background-size: cover;
    background-position: center;
  }
  